<!DOCTYPE html>
@model mvc_course_work.Models.ViewModel.TakeAllInfo
<html>
<head>
    <meta charset="utf-8" />
    <title>A jQuery Countdown Timer | Tutorialzine Demo</title>
    <script type="text/javascript" src="~/Scripts/countdown.js"></script>

    <script type="text/javascript">
        $(function () {
            var note = $('#note'),
                ts = new Date(0),
                newYear = true;

            if ((new Date()) > ts) {
                ts = new Date('@Model.Races[1].getDate()');
                newYear = false;
            }

            $('#countdown').countdown({
                timestamp: ts,
                callback: function (month,week, days, hours, minutes, seconds) {

                    var message = "";

                    message += month + "month" + (month == 1 ? '' : 's') + ", "
                    message += week + "week" + (week == 1 ? '' : 's') + ",      ";
                    message += days + " day" + (days == 1 ? '' : 's') + ", ";
                    message += hours + " hour" + (hours == 1 ? '' : 's') + ", ";
                    message += minutes + " minute" + (minutes == 1 ? '' : 's') + " and ";
                    message += seconds + " second" + (seconds == 1 ? '' : 's') + " <br />";

                    if (newYear) {
                        message += "left until the new year!";
                    }
                    else {
                        message += "to the new race";
                    }

                    note.html(message);
                }
            });

        });
    </script>

    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300" />
    <link rel="stylesheet" href="~/Content/timer.css" />
    <link rel="stylesheet" href="~/Content/countdown.css" />


</head>

<body>
    <h1 style="text-align:center"> Next Race</h1>
    <h1 style="text-align:center">@Model.Races[1].Name</h1>
    <h1 style="text-align:center">@Model.Races[1].day:@Model.Races[1].month:@Model.Races[1].year</h1>
    <div id="countdown">

    </div>
    <p id="note"></p>

</body>
</html>

