@model  mvc_course_work.Models.ViewModel.TakeAllRaces
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" href="~/Content/races.css" />
</head>
<body>
    <div class="races">
        <ul class="races-list">
            @foreach (var race in Model.Races)
            {         
            <li class="race">
               <!-- <a href="@Url.Action("Index", "Races", new {race.Id})">             TODO: Вставить ссылку-->      
                    <a href="#">
                    <div class="image">
                        <img src="~/Images/Races/Preview/2016 FORMULA 1 BELGIAN GRAND PRIX.jpg" />  <!-- TODO: Вставить картинку-->
                    </div>
                    <div class="text">
                            2016 FORMULA 1 BELGIAN GRAND PRIX   <!-- TODO: Вставить подпись к картинке-->
                    </div>
                </a>
            </li>
            }
       
        </ul>
    </div>
</body>
</html>
