@model  mvc_course_work.Models.ViewModel.TakeAllRaces
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link rel="stylesheet" href="~/Content/races.css" />
</head>
<body>
    <div class="races">
        <ul class="races-list">
            @foreach (var race in Model.Races)
            {
                <li class="race">
                    <a href="@Url.Action("Index", "Race", new {race.Id})">
                        <div class="image">
                            <img src="@race.photo"/>  
                        </div>
                        <div class="text">
                           @race.Name   
                        </div>
                    </a>
                </li>
            }

        </ul>
    </div>
</body>
</html>