body {
    background: url("../Images/MainWallpapper.jpg");
    background-size: auto;
}

.biography{
    margin-top:10px;
}
.biography img.photo {
    margin-right: 20px;
    margin-bottom: 10px;
    height:100%;
    width: 25%;
    float: left;
}


.biography table {
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}
.biography table td{
    width:300px;
}
.information {
    font-size: 20px;
}

.p {
    position: relative;
}

.biography {
    height: auto;
}

.drivers .blck {
    clear: both;
    display: inline-block;
    width: 24%;
    height: auto;
    vertical-align: top;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


.drivers {
    clear: both;
    text-align: center;
    width: 100%;
}

    .drivers ul {
        width: 100%;
    }

.blck img {
    height: 70%;
    width: 100%;
}

.blck {
    margin-top: 20px;
}

    .blck a {
        font-size: large;
        font-family: fantasy;
        color: #000;
    }

    .blck .text {
        font-size: large;
        font-family: fantasy;
        color: #000;
    }

        .blck .text a {
            font-size: large;
            font-family: fantasy;
            color: #000;
        }

    .blck:hover .text a {
        transition-property: margin-top,color;
        margin-top: 0px;
        color: #fff;
        transition-duration: 0.9s;
    }

    .blck:hover .text {
    }

    .blck .text {
    }

    .blck:hover .text a {
        transition-property: color;
        margin-top: 0px;
        color: #fff;
        transition-duration: 0.9s;
    }

    .blck:hover .text {
        transition-property: background;
        transition-duration: 0.9s;
        background: #000;
    }

        .blck:hover .text p {
            transition-property: margin-top,color;
            margin-top: 0px;
            color: #fff;
            transition-duration: 0.9s;
        }

    .blck .text .id {
        opacity: 0.0;
        color: #fff;
    }

    .blck:hover .text .id {
        transition-property: opacity,color;
        opacity: 1;
        color: #fff;
        transition-duration: 0.9s;
    }
